@media(min-width:500px) and (max-width:10000px) {
    body {
        background-image: url(bgimage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .part1 {
        text-align: center;
        margin-top: 2%;
    }

    .location {
        font-weight: 700;
        text-align: center;

    }

    .countrystate {
        font-size: xx-large;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
    }

    button {
        font-size: large;
        border: 2px solid black;
        margin-top: 2%;
        padding: 8px 20px;

    }

    button:hover {
        background-color: black;
        color: white;
        border: 3px solid black;

    }

    .time {
        font-size: 50px;
        display: flex;
        justify-content: center;
    }

    #hour,
    #minute {
        border: 3px solid black;
        font-weight: bold;
    }

    .daydate {
        font-size: 50px;

    }

    .weatherdetails {
        border: 3px solid black;
        box-shadow: 10px 10px rgb(70, 62, 62);
        font-size: large;
        font-weight: bold;
        width: fit-content;
        margin: auto;
        padding: 1%;

    }

    .weatherdetails p {
        display: inline;
    }


    .part2 {
        display: flex;
        justify-content: space-evenly;
        height: fit-content;
        width: 100%;
    }

    .part2 div {
        border-top: 1px solid rgb(143, 128, 156);

    }

    .weekdays {
        width: 20%;
        text-align: center;
        height: fit-content;
        margin: 5px;
        padding: 5px;
        background-color: rgb(89, 216, 203);
        border-radius: 20px;

    }

    .weekdays b {
        text-transform: uppercase;
        margin-top: 0%;
    }

    .weekdays p {
        display: inline;
    }

    .weekdays img {
        width: 40%;
        text-align: center;
        border-radius: 20px;
    }

    footer p {
        text-align: center;
        background-color: burlywood;
        padding: 1%;
        font-size: x-large;
    }

}




@media(min-width:51px) and (max-width:500px) {
    body {
        background-image: url(bgimage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    .submitbutton {
        padding-top: 5%;
    }

    .part1 {
        text-align: center;
    }

    .location {
        font-weight: 700;
        text-align: center;

    }

    .countrystate {
        font-size: medium;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
    }

    button {
        font-size: large;
        padding: 1%;
        border: 2px solid black;

    }

    button:hover {
        background-color: black;
        color: white;
        border: 3px solid black;

    }

    .time {
        font-size: 50px;
        display: flex;
        justify-content: center;
    }

    #hour,
    #minute {
        border: 3px solid black;
        font-weight: bold;
    }

    .daydate {
        font-size: 20px;

    }

    .weatherdetails {
        border: 3px solid black;
        box-shadow: 10px 10px rgb(70, 62, 62);
        font-size: large;
        font-weight: bold;
        width: fit-content;
        margin: auto;
        padding: 1%;

    }

    .weatherdetails p {
        display: inline;
    }

    .part2 {
        display: flex;
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .weekdays {
        width: 20%;
        text-align: center;
        height: fit-content;
        margin: 5px;
        padding: 5px;
        background-color: rgb(89, 216, 203);
        border-radius: 15px;

    }

    .weekdays b {
        text-transform: uppercase;
    }

    .weekdays p {
        display: inline;

    }

    .weekdays img {
        width: 40%;
        text-align: center;
        border-radius: 20px;
    }


    .part2 div {
        font-size: 10px;
        border-top: 1px solid rgb(143, 128, 156);
    }

    footer p {
        text-align: center;
        background-color: burlywood;
        padding: 1%;
        font-size: medium;
    }

}